@import url("https://fonts.googleapis.com/css2?family=Unbounded");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  font-family: "Unbounded";
}

code {
  font-family: "Roboto Mono", monospace;
}

.drag {
  -webkit-app-region: drag;
}

.no-drag {
  -webkit-app-region: no-drag;
}

.content {
  padding: 1.5rem;
}

.text-shadow-white {
  text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

.text-shadow-black {
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar {
  padding: 5px;
  width: 10px;
  background-color: rgba(32, 32, 32, 0.562);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.24);
  border-radius: 5px;
}

.modal {
  z-index: 40;
}
